.index_post_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.index_post_container h1 {
    font-family: $home-font;
}

.post_card {
    background-color: red;
    text-decoration: none;

    .text-ellipsis--2 {
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
}
