
<h1 id="main-title">Fancy anything? 🤩</h1>

      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
            <h2><%= post.title %></h2>
            <p class="text-ellipsis--2 p-0"><%= post.content %></p>
        <% end %>
      <% end %>
